
$size-text:.7em;
.card {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: row;
	flex-direction: row;
    width: 50%;
    margin-top: 5%;
    
    
 }
 .card-1{
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: row;
	flex-direction: row;
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    flex-wrap: wrap;
 }
 .card-col{
     display: flex;
     flex-direction: column;
     background-color: cyan;
 }

 .card-col1{
   width: 40%;
 
}
.card-col2{
    width: 50%;
 }

 .card__pic{
     display: flex;
     flex-direction: column;
     width: 50%;
     height: 200px;
     justify-content: center;
     align-items: center;
     border-bottom-left-radius: 5%;
     border-top-left-radius: 5%;
 }

 .slytherin{
     background: linear-gradient(135deg, #1C792B 0%, #82E95E 100%);
 }

 .gryffindor{
    background:linear-gradient(135deg, #FF0000 0%, #FED482 100%);
 }

 .hufflepuff{
    background:linear-gradient(135deg, #FFC700 0%, #FFF388 100%) ;
 }

 .ravenclaw{
    background: linear-gradient(135deg, #0597B7 0%, #66D1FF 100%);;
 }


 .card__info{
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #FFFFFF;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    padding: 5%;
    color: hsla(207, 72%, 11%, 1);
  
}

.header_info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    font-size: $size-text;
}
.dead{
    background: #CCCCCC;
}

.card__info h3 {
    margin-top: 5%;
   
}

.card__pic> img{
         width: 50%;
         height: 50%;
         border-radius: 50%;
        
     }
.box-info{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    font-size: $size-text;
    font-weight: bold;
}  
  
.box-info>p>span{
    font-weight: lighter;
}

