$colorBorder: hsla(246, 36%, 55%, 1);
$bttn-hover: rgba(107, 99, 181, 0.6);
$bttn-Active: #6b63b5;

.flex-filter {
  display: flex;
  flex-direction: row;
  justify-content:center;
  
}

#btn-filter {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  border: 2px solid $colorBorder;
}

#btn-filter:hover {
  background-color: $bttn-hover;
}

#btn-filter:focus {
  background-color: $bttn-Active;
}
