
$font-stack: Open Sans, Helvetica, sans-serif;
$background-color:rgba(0, 0, 0, 0.799);
$colorText:hsla(0, 0%, 100%, 1);
body {
    font: 100% $font-stack;
    background-image: url('../src/assets/Background.png');
    object-fit:cover;
    background-repeat: no-repeat;
    background-color: $background-color;
    color:$colorText;
     -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
      -o-background-size: 100% 100%;           /* Opera 9.5 */
       background-size: 100% 100%; 
       overflow-x: hidden;
   
  }
 

  .title{
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;

 }
 div > h2{
  margin-top: 3%;
  color:$colorText;
 }