
$font-stack: Open Sans;
$background-color:rgba(0, 0, 0, 0.799);
$colorText:hsla(0, 0%, 100%, 1);
body {
    background-color: $background-color;
    background-image: url('../src/assets/Background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-size: $font-stack
   
  }


  .title{
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;

 }
 div > h2{
  margin-top: 3%;
  color:$colorText;
 }